<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.final_app">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--구글&네이버 지도 관련-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/bobpool_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bobpool_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".roulette"
            android:screenOrientation="portrait" />
        <activity android:name=".ladder_LadderGameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ladder_MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ladder_TabViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".personal_info"
            android:screenOrientation="portrait"/>

        <!--네이버 지도 관련 2020.09.24-->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="cyozvucbzs" />

        <!--구글 지도 관련 2020.10.02-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_rLdW26Zx5XUPBQT6Kad5VPKaFXvAw1A" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name=".Login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".additional_order"
            android:usesCleartextTraffic="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".after_qr"
            android:usesCleartextTraffic="true"
            android:screenOrientation="portrait"/>
        <!--<activity android:name=".sidebar" />-->
        <activity
            android:name=".how"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".qr"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation">
            <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />
        </activity>
        <activity android:name=".CaptureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity android:name=".shop_detail"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".my_Info"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".search"
            android:screenOrientation="portrait"/>
        <activity android:name=".Search_map"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".reservation"
            android:screenOrientation="portrait"/>
        <activity android:name=".payment"
            android:screenOrientation="portrait"/>
        <activity android:name=".Join"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opening"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"/>
    </application>

</manifest>